body {
  font-family: Arial;
  background: #f2f2f2;
}

nav {
  text-align: center;
  margin: 20px;
}

button {
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
}

.box {
  width: 400px;
  margin: auto;
  background: white;
  padding: 20px;
}

input, select, textarea {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
}

.admin table {
  width: 95%;
  margin: auto;
  border-collapse: collapse;
  background: white;
}

.admin th, .admin td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}


.link {
  color: blue;
  cursor: pointer;
  margin-top: 10px;
}
