* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(to right, #1e3c72, #2a5298);
  min-height: 100vh;
}

/* ================= COMMON BOX ================= */

.box {
  width: 380px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  margin: 80px auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1e3c72;
}

/* ================= INPUTS ================= */

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 15px;
}

textarea {
  resize: none;
  height: 80px;
}

input:focus, select:focus, textarea:focus {
  border-color: #1e3c72;
}

/* ================= BUTTONS ================= */

button {
  width: 100%;
  padding: 12px;
  background: #1e3c72;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #16325c;
}

/* ================= LINKS ================= */

a {
  text-decoration: none;
  color: #1e3c72;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-top: 15px;
  text-align: center;
  color: green;
}

/* ================= ADMIN PANEL ================= */

.admin-box {
  width: 90%;
  max-width: 900px;
  background: white;
  padding: 30px;
  margin: 60px auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.admin-box h2 {
  text-align: center;
  color: #b71c1c;
  margin-bottom: 20px;
}

/* ================= TABLE ================= */

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background: #1e3c72;
  color: white;
}

tr:hover {
  background: #f1f1f1;
}

/* ================= STATUS BUTTON ================= */

.close-btn {
  background: #b71c1c;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
}

.close-btn:hover {
  background: #7f0000;
}

/* ================= LOGOUT ================= */

.logout-btn {
  background: #555;
  margin-bottom: 15px;
}

.logout-btn:hover {
  background: #333;
}


.admin-note {
  margin-top: 15px;
  font-size: 13px;
  color: #b71c1c;
  text-align: center;
}


h2 {
  margin-bottom: 15px;
}

.close-btn {
  background: #b71c1c;
}

.close-btn:hover {
  background: #7f0000;
}


.navbar {
  width: 100%;
  background: #1e3c72;
  color: white;
  padding: 12px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h3 {
  cursor: pointer;
}

.navButton {
  background: white;
  color: #1e3c72;
  border-radius: 4px;
  width: 100px;
  padding: 12px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.navButton h5{
  font-size: medium;
}
.navbar button:hover {
  background: #f1f1f1;
}
